.MainHeaderContainer {
  background-color: white;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: fixed;
  width: 100%;
  padding: 10px 30px;
  height: 45px;
  transition: 150ms;
}

.MenuIcon {
  position: absolute;
  right: 35px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}
.MenuIcon {
  display: none;
}

.FirstRightNavLink {
  margin-left: auto;
}

.MainHeaderLinkGroup {
  display: flex;
  height: 100%;
}

.MainHeaderContainer .NavLink a {
  color: rgb(37, 37, 37);
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-bottom: 2px solid transparent;
  transition: 150ms;
}
.MainHeaderContainer .NavLink a:hover {
  border-bottom: 2px solid black;
}

.HeaderReservedSpace {
  height: 45px;
}

@media only screen and (max-width: 766px) {
  .MainHeaderContainer.Open {
    height: 150px;
  }
  .MenuIcon {
    display: block;
  }
  .SignOutBtn a {
    font-weight: bold;
    color: red !important;
  }

  .MainHeaderLinkGroup {
    padding-top: 35px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  .FirstRightNavLink {
    margin-left: unset;
  }
}
