.LoginCardContainer {
  border: 1px solid rgb(228, 228, 228);
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.SubmitBtn {
  background-color: var(--mainColor);
  color: white;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 5px;
}

.SubmitBtn:hover {
  background-color: #ee6622;
}

.ErrorText {
  color: red;
  text-transform: capitalize;
}

.TitleText {
  text-transform: uppercase;
  color: var(--mainColor);
}
