.ContentHOCContainer {
  background-color: white;
  padding: 25px 50px;
  min-height: calc(100vh - 45px);
}

.ContentHOCContainer h1 {
  color: var(--mainColor);
  margin-bottom: 30px;
}

.BackBtn {
  color: #c7c7c7;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.HideLink {
  visibility: hidden;
}
