.InputGroup {
  margin-bottom: 10px;
}

.InputGroup label {
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--mainTextColor);
}

.InputGroup input,
.InputGroup textarea {
  font-size: 18px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  width: 100%;
  padding: 5px 25px 5px 15px;
  outline: none;
}
.InputGroup input:focus,
.InputGroup textarea:focus {
  border: 1px solid var(--mainColor);
  /* box-shadow: 0 0 2px rgb(56, 56, 56); */
}
