.TableStyle {
  border-radius: 5px;
  overflow: hidden;
  /* width: 100%; */
}

.TableStyle thead {
  background-color: var(--mainColor);
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.TableStyle thead th {
  padding: 5px 20px 5px 10px;
}
/* .TableStyle tbody tr {
  border-bottom: 1px solid rgb(207, 207, 207);
} */

.TableStyle tbody tr:hover {
  background-color: rgb(248, 248, 248);
}

.TableStyle tbody td {
  padding: 5px 20px 5px 10px;
}
